{% load static %}

<html lang="en" class="h-100">
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>AskMe Ivanov</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
</head>
<body class="d-flex flex-column h-100">
  <nav class="navbar bg-body-tertiary">
    <div class="container-sm-fluid container-lg">
      <a class="navbar-brand" href="{% url 'index' %}">AskMe Ivanov</a>
      <form class="d-flex justify-content-start" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <a class="btn btn-outline-success" href="{% url 'ask' %}">Ask!</a>
      </form>

      <div class="d-flex justify-content-between gap-3">
        {% block auth %}
        {% endblock auth %}
      </div>
    </div>
  </nav>

  <main class="container-fluid container-lg mt-3 pt-3 pb-sm-3 flex-shrink-0">
    <div class="row">
      <div class="col-8">
        {% block content %}
        {% endblock %}
      </div>
      <div class="col-4">
        <div class="row">
          <h3>Popular Tags</h3>
          <div class="text-wrap d-flex gap-3 flex-wrap align-self-sm-auto w-75">
            <span class="program-lang fw-bolder"><a class="badge link-primary" href="{% url 'tag' tag_name="Primary" %}">Primary</a></span>
            <span class="program-lang fw-bolder"><a class="badge link-secondary" href = "{% url 'tag' tag_name="Secondary" %}">Secondary</a></span>
            <span class="program-lang fw-bolder"><a class="badge link-success" href = "{% url 'tag' tag_name="Success" %}">Success</a></span>
            <span class="program-lang fw-bolder"><a class="badge link-danger" href = "{% url 'tag' tag_name="Danger" %}">Danger</a></span>
            <span class="program-lang fw-bolder"><a class="badge link-warning" href = "{% url 'tag' tag_name="Warning" %}">Warning</a></span>
            <span class="program-lang fw-bolder"><a class="badge link-info" href = "{% url 'tag' tag_name="Info" %}">Info</a></span>
            <span class="program-lang fw-bolder"><a class="badge link-light" href = "{% url 'tag' tag_name="Light" %}">Light</a></span>
            <span class="program-lang fw-bolder"><a class="badge link-dark" href = "{% url 'tag' tag_name="Dark" %}">Dark</a></span>
          </div>
        </div>
        <h3 class="mt-5">Best Members</h3>
        <div>
          <a href="/template/member.html" class="d-block">Mr. Freeman</a>
          <a href="/template/member.html" class="d-block">Golub</a>
          <a href="/template/member.html" class="d-block">Karburator</a>
          <a href="/template/member.html" class="d-block">Kapybara</a>
          <a href="/template/member.html" class="d-block">Igor</a>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer mt-auto p-3 bg-light">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>